@page
@model assignment4.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>


<div class="row row-cols-1 row-cols-md-3 g-5">
    @foreach (var employee in Model.Employee)
    {
        <a asp-page="./Details" asp-route-id="@employee.EmployeeId">
            <div class="card border-secondary" style="width: 18rem;">
                <img src="~/img/@employee.PhotoPath" class="card-img-top" alt="@employee.Title" />
                <div class="card-body">
                    <h4 class="card-title text-center text-body">@employee.TitleOfCourtesy @employee.FullName</h4>
                    <h4 class="card-title text-center text-body">@employee.Title</h4>

                </div>
            </div>
        </a>
    }
</div>




